.plus {
    float: right;
    margin-right: 1ex;
}

.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
    color: darkgray;
}

.input-icon > input {
    padding-left: 1.5em !important;
    position: static !important;
}

#income-count {
    display: none;
}

.x-out {
    background-color: transparent;
}
.x-out:hover, .x-out:focus {
    background-image: -webkit-linear-gradient(transparent, rgba(210,0,0, 0.05) 40%, rgba(210,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(200,0,0, 0.05) 40%, rgba(210,0,0, 0.10));
}
