/*  Mobile-specific Styling  */
@media screen and (max-width: 768px) {
    .shell {
        padding-right: 1in;
        padding-left: 1in;
    }
    #site-name {
        margin-left: 2em;
    }
}

/* Desktop-specific Styling */
@media screen and (min-width: 768px) {
	.shell {
		max-width: 7in;
		margin-left: auto;
		margin-right: auto;
		padding: 32px 32px 32px 32px;
	}
    #site-name {
        margin-left: 1.5em;
    }
}

.shell {
	background-color: darkgray;
}

html{
    font-family: Ubuntu, sans-serif;
}

body {
    background-color: darkgray;
}

p {
    /* This Puts Indentations on Every Paragraph */
    text-indent: 1em;
}

/* This class is for centering an element */
.centered {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

/* =================================

Put more specific styles below this

====================================  */


/* This is the styling for the LC logo displayed in the top left corner */
#logo {
    position: fixed;
    left: 1em;
    top: 0.75em;
    width: 2em;
    height: 2em;
}