/*  Mobile-specific Styling  */
@media screen and (max-width: 768px) {
    .shell {
        padding-right: 1ex;
        padding-left: 1ex;
    }
    #site-name {
        margin-left: 2em;
    }
}

/* Desktop-specific Styling */
@media screen and (min-width: 768px) {
	.shell {
		max-width: 7in;
		margin-left: auto;
		margin-right: auto;
		padding: 32px 32px 32px 32px;
	}
    #site-name {
        margin-left: 1.5em;
    }
}

.shell {
	background-color: darkgray;
    padding-top: 4em;
}

html{
    font-family: Ubuntu, sans-serif;
}

body {
    background-color: darkgray;
}

p {
    /* This Puts Indentations on Every Paragraph */
    text-indent: 1em;
}

/* This class is for centering an element */
.centered {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

/* This class is for error messages */
.error {
    color: red;
    font-style: italic;
}

/* =================================

Put more specific styles below this

====================================  */

.navbar-head {
    vertical-align: middle;
}


/* This is the styling for the LC logo displayed in the top left corner */
#logo {
    position: fixed;
    left: 0.65em;
    top: 0.5em;
    width: 2em;
    height: 2em;
}

#big-logo {
    width: 5em;
    height: 5em;
    position: relative;
}



