<!-- This is the template which all of our webpages will be based upon. It helps prevent unnecessary duplicate code. -->


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeCents -{% block title %}{% endblock %}</title>
	<!-- FontAwesome icons -->
        <script src="https://use.fontawesome.com/40377eec8d.js"></script>
    <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Socket.io -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <!-- d3JS -->
        <script src="https://d3js.org/d3.v3.min.js"></script>
    <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Pure CSS -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <!-- My CSS -->
        <link rel="stylesheet" href="/static/styles.css">
        {% block styles %}
        {% endblock %}

    {# Global JavaScript variables #}
    <script type="text/javascript" charset="utf-8">
        var csrfToken = '{{ session.csrf_token }}';
        var socket = io();
    </script>


</head>
<body>
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header nav-head">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" id="site-name" href="{{ url_for('render_homepage') }}">
          <img src="{{ url_for('static', filename='Lc_logo.png') }}" alt="LifeCents Logo" id="logo"> LifeCents</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('render_homepage') }}">Home</a></li>
        <li><a href="{{ url_for('render_budget_page') }}">Budgeting</a></li>
        <li><a href="{{ url_for('advice_page') }}#">Advice</a></li>
        <li><a href="#">Scheduling</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if g.user %}
              <li><a href="#">Hello, {{ g.user.name }}</a></li>
              <li><a href="{{ url_for('handle_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% else %}
              <li><a href="{{ url_for('register_page') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="{{ url_for('login_page') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}

      </ul>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
    Fill me in!
{% endblock %}

</body>
</html>
