<!-- This plugs in our base template -->
{% extends 'base.html' %}

{% block title %} Budgeting Page {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='budget_graph.css') }}">
{% endblock %}

{% block content %}

<!-- Put everything inside of shell for formatting purposes -->
<div class="shell">
    <h1>Budget</h1>

    <div id="pie-charts">
        <span id="chart1"></span>
        <span id="chart2"></span>
        <span id="chart3"></span>
    </div>
</div>



<script src="{{ url_for('static', filename='budget_graphs.js') }}" async></script>

{% endblock %}


