<!-- This plugs in our base template -->
{% extends 'base.html' %}

{% block title %} Edit Budget {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/forms.css">
{% endblock %}

{% block content %}
<!-- Put everything inside of shell for formatting purposes -->
<div class="shell">
    <h1 class="centered">Edit Budget</h1>

    <form class="pure-form pure-form-aligned pure-g">

        <fieldset class="pure-group pure-u-1 pure-u-md-11-24">
            <legend>Expenses <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span></legend>
            <input type="text" class="pure-input-1" placeholder="Expense">
            <input type="number" class="pure-input-1" placeholder="Amount">
        </fieldset>

        <div class="pure-u-md-1-12"></div>

        <fieldset class="pure-group pure-u-1 pure-u-md-11-24">
            <legend>Income <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span></legend>
            <input type="text" class="pure-input-1" placeholder="Income">
            <input type="number" class="pure-input-1" placeholder="Amount">
        </fieldset>

        <button type="submit" class="pure-button pure-input-1-2 pure-button-primary centered">Submit</button>

    </form>


</div>
{% endblock %}