<!-- This plugs in our base template -->
{% extends 'base.html' %}

{% block title %} Edit Budget {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/forms.css">
{% endblock %}

{% block content %}
<!-- Put everything inside of shell for formatting purposes -->
<div class="shell">
    <h1 class="centered">Edit Budget</h1>

    <form class="pure-form pure-form-aligned pure-g" method="POST" action="/budget/edit">

        <input type="hidden" id="csrf" name="_csrf_token" value="{{ session.csrf_token }}">

        <div class="pure-u-1 pure-u-md-11-24">
            <fieldset class="pure-group">
                <legend>Income <span class="plus" id="income-plus"><i class="fa fa-plus" aria-hidden="true"></i></span></legend>

                {% if incomes %}
                    <div class="pure-g">
                    {% for inc in incomes %}
					<div> {# for deleting #}
                        <input id="db-i-{{ loop.index }}id" value="{{ inc.id }}" hidden>
						<div class="pure-u-1 pure-u-md-1-8"><button type="button" data-rel="popup" class="pure-button x-out" id="db-i-{{ loop.index }}"><i class="fa fa-times" aria-hidden="true"></i></button></div>
                        <div class="pure-u-1 pure-u-md-1-2"><input class="pure-input-1 editables" id="db-i-{{ loop.index }}n" value="{{ inc.name }}" readonly></div>
                        <div class="pure-u-1 pure-u-md-3-8"><input class="pure-input-1 editables" id="db-i-{{ loop.index }}v" value="${{ '{0:0.2f}'.format(inc.value) }}" readonly></div>
                    </div>
					{% endfor %}
                    </div><br/>
                {% endif %}

                <input type="text" class="pure-input-1" name="income1" placeholder="Income">

                <div class="input-icon">
                    <i>$</i>
                    <input type="number" class="pure-input-1" name="income-value1" placeholder="Amount" min="0" step="any">
                </div>
            </fieldset>

            <input type="number" hidden value="2" name="income-count" id="income-count">

            <fieldset class="pure-group" id="in2">
                <input type="text" class="pure-input-1" name="income2" placeholder="Income">
                <div class="input-icon">
                    <i>$</i>
                    <input type="number" class="pure-input-1" name="income-value2" placeholder="Amount" min="0" step="any">
                </div>
            </fieldset>


        </div>

        <div class="pure-u-md-1-12"></div>

        <div class="pure-u-1 pure-u-md-11-24">
            <fieldset class="pure-group">
                <legend>Expenses <span class="plus" id="expense-plus"><i class="fa fa-plus" aria-hidden="true"></i></span></legend>

                {% if expenses %}
                    <div class="pure-g">
                    {% for exp in expenses %}
                        <div> {# for deleting #}
                            <input id="db-e-{{ loop.index }}id" value="{{ exp.id }}" hidden>
                            <div class="pure-u-1 pure-u-md-1-8"><button type="button" data-rel="popup" class="pure-button x-out" id="db-e-{{ loop.index }}"><i class="fa fa-times" aria-hidden="true"></i></button></div>
                            <div class="pure-u-1 pure-u-md-1-2"><input class="pure-input-1 editables" id="db-e-{{ loop.index }}n" value="{{ exp.name }}" readonly></div>
                            <div class="pure-u-1 pure-u-md-3-8"><input class="pure-input-1 editables" id="db-e-{{ loop.index }}v" value="${{ '{0:0.2f}'.format(exp.value) }}" readonly></div>
                        </div>
                    {% endfor %}
                    </div><br/>
                {% endif %}

                <input type="text" class="pure-input-1" placeholder="Expense" name="expense1">

                <div class="input-icon">
                    <i>$</i>
                    <input type="number" class="pure-input-1" placeholder="Amount" name="expense-value1" min="0" step="any">
                </div>
            </fieldset>

            <input type="number" hidden value="2" name="expense-count" id="expense-count">

            <fieldset class="pure-group" id="ex2">
                <input type="text" class="pure-input-1" placeholder="Expense" name="expense2">
                <div class="input-icon">
                    <i>$</i>
                    <input type="number" class="pure-input-1" placeholder="Amount" name="expense-value2" min="0" step="any">
                </div>
            </fieldset>
        </div>

        <button type="submit" class="pure-button pure-input-1-2 pure-button-primary centered">Submit</button>

    </form>


</div>

     <script src="{{ url_for('static', filename='form_control.js') }}" async></script>
{% endblock %}