<!-- This plugs in our base template -->
{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}

    <!-- Put everything inside of shell for formatting purposes -->
    <div class="shell">
		<h1>LifeCents</h1>
		<p>An efficient and easy to use personal finance and scheduling web application for budget
            planning and money management that also gives you the option of finding good advice on how to more
            effectively manage your budget, so together we can make "Cents" out of life.</p>
	</div>

{% endblock %}